/* Provide sufficient contrast against white background */
body {
  /* Margin bottom by footer height */
  font: 400 18px/1.4 'Source Sans Pro', sans-serif;
  background-color: #008f96;
}
a {
  color: #0366d6;
}
code {
  color: #E01A76;
}
.box-shadow {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2) !important;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.page-banner {
  background-image: url(images/blog-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
  width: 100%;
  color: #fff;
}
.page-banner h1 {
  padding-top: 90px;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 576px) {
  .content-container .content-container--wrapper .login-form .MuiTextField-root {
    width: 400px !important;
  }
}
.typography {
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  padding-top: 142px;
}
.content-container {
  background-color: #fff;
}
.content-container h2 {
  font-weight: 700;
}
.content-container .content-container--wrapper .login-form {
  margin-top: 20px;
  text-align: center;
  color: #e9ab6f;
}
.content-container .content-container--wrapper .login-form .MuiTextField-root {
  width: 400px !important;
}
.content-container .content-container--wrapper .login-form .MuiTextField-root input {
  width: 100% !important;
}
.content-container .content-container--wrapper .login-form .error {
  color: darkred;
  padding: 20px 0;
}
.social:hover {
  color: #00777d;
}
.social {
  cursor: pointer;
  font-size: 48px;
  color: #008f96;
  padding: 0 5px;
}
